.employee-form-wrapper {
  border: 1px, solid, lightgray;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.employee-form-header {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin: 0;
}
